// Colors
$black: #222;
$white: #efefef;

$card-placeholder-border: 1px solid #ffffff44;

$m-small: 8px;
$m-normal: 16px;

$card-rank-margin: 12px;

$card-width: 110px;
$card-height: 170px;
$card-radius: 10px;
$card-hover-top: -20px;
$card-hover-left: -42px;
$card-hover-transition: left 100ms ease, top 100ms ease;

$stack-height: $card-height;
$stock-height: $card-height;